asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
mysqlclient
channels_redis
channels[daphne]
drf-spectacular
django-environ
daphne
django-filter
reportlab