.results-container {
    display: flex;
    flex-direction: column;
    width: 90%; /* Adjust this if you want a specific width */
    margin: auto;
    padding: 20px;
    height: 100vh; /* Ensure it takes the full viewport height */
    overflow: auto;
    max-height: 90vh; /* Limit the height to avoid taking the full viewport */
    overflow-x: hidden;
}

.search-group-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 30px;
}

